h1 {
    text-align: center;
}

#one {
    border: 3px solid black;
    background-color: red;
    height: 500px;
    width: 500px;
    margin: auto;
}

#two {
    background-color: blue;
    border: 3px solid black;
    height: 300px;
    width: 300px;
    margin: 20%;
}

#three {
    background-color: white;
    border: 3px solid black;
    height: 100px;
    width: 100px;
    margin: 30%;
}

/* Bonus Start */

table {
    margin: auto;
}

.one {
        width: 100px;
        height: 100px;
        background-color: red;
        border-top: 3px solid black;
}

.five {
    width: 100px;
    height: 100px;
    background-color: red;
    border-bottom: 3px solid black;
}

#oneOne {
    width: 100px;
    height: 100px;
    background-color: red;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

#oneFive {
    width: 100px;
    height: 100px;
    background-color: red;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#twoOne {
    width: 100px;
    height: 100px;
    background-color: red;
    border-left: 3px solid black
}

#twoTwo {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

#twoThree {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-top: 3px solid black;
}

#twoFour {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#twoFive {
    width: 100px;
    height: 100px;
    background-color: red;
    border-right: 3px solid black
}

#threeOne {
    width: 100px;
    height: 100px;
    background-color: red;
    border-left: 3px solid black
}

#threeTwo {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-left: 3px solid black;
}

#threeThree {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 3px solid black;
}

#threeFour {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-right: 3px solid black;
}

#threeFive {
    width: 100px;
    height: 100px;
    background-color: red;
    border-right: 3px solid black
}

#fourOne {
    width: 100px;
    height: 100px;
    background-color: red;
    border-left: 3px solid black
}

#fourTwo {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#fourThree {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-bottom: 3px solid black;
}

#fourFour {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#fourFive {
    width: 100px;
    height: 100px;
    background-color: red;
    border-right: 3px solid black
}

#fiveOne {
    width: 100px;
    height: 100px;
    background-color: red;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#fiveFive {
    width: 100px;
    height: 100px;
    background-color: red;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}